__pycache__/
.env
.vscode/*
.ipynb_checkpoints
logs/
*.egg-info/
src/data/*
src/data/sentiment_cache.json
report.txt
data/*
models/
factors/
src/data/macro_analysis_cache.json
*.lock
.venv/
debug.log
test/src/*